---
layout: main
title: Lunar Linux

---

<header id="masthead" class="w-100 vh-100 bg-black-30 flex flex-column items-center justify-center">
  <img src="/assets/images/logo-02b.png" class="w-75" alt="The Lunar Linux logo - a rockhead penguin shillouette in front of a crescent moon."/>
  <h2 class="moon-gray tracked tc">A source-based Linux distribution</h2>
</header>

<main id="content-wrapper" style="background-image:url('/assets/images/bg-05.jpg')" class="bg-center cover w-100">

<section id="about" class="bg-moon-gray ph2 pv4 tracked" style="">
{% capture about_include %}
{% include about.md %}
{% endcapture %}
{{ about_include | markdownify }}
</section>

<section id="twocol" class="bg-black-70 moon-gray pv5 w-100 flex flex-column items-top">
<div id="twocol-left" class="tracked w-50-ns ph2 pv4">
{% capture apps_include %}
{% include applications.md %}
{% endcapture %}
{{ apps_include | markdownify }}
</div>
<div id="twocol-right" class="w-50-ns ph2 flex flex-row items-center justify-around">

</div>
</section>

<section id="download" class="bg-moon-gray ph2 pv4 tracked">
{% capture dl_include %}
{% include download.md %}
{% endcapture %}
{{ dl_include | markdownify }}
</section>
</main>

<footer id="links" class="bg-black-70 moon-gray ph2 pv4 tracked">
{% capture links_include %}
{% include links.md %}
{% endcapture %}
{{ links_include | markdownify }}
</footer>
