

* {
margin:0;
padding:0;
font-size: 100%;
}
html {
scroll-behaviour:smooth;
}
h1,h2,h3,h4,h5,h6 {
font-family:'Saira Condensed',sans-serif;
padding-top: 1rem;
padding-bottom: 1rem;
}
.bg-fix {
background-attachment: fixed;
}
.bg-animate, .bg-animate:hover, .bg-animate:focus {
transition: background-color .1s ease-in-out;
}
p {
padding-top: 1rem;
padding-bottom: 1rem;
}

/* collapsable menu toggle */
  #menu_toggle, #menu_items {
  display:none;
}
  #menu_toggle:checked ~ #open_button {
  display:none;
  }
  #menu_toggle:checked ~ #menu_items {
  display: flex;
  }

/* media query to disable the hamburger */
@media only screen and (min-width: 640px)
{
 #menu_items {
 display:flex;
 }
 #open_button,#close_button {
 display:none;
 }
 
 /* why doesn't tachyons do this automatically? */
.grow-1
{flex-grow:1;}
.grow-2
{flex-grow:2;}
.grow-3
{flex-grow:3;}
.grow-4
{flex-grow:4;}
.shrink-1
{flex-grow:1;}
.shrink-2
{flex-grow:2;}
.shrink-3
{flex-grow:3;}
.shrink-4
{flex-grow:4;}
