<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta
    charset="utf-8"
    />
    <link
    rel="icon"
    type="image/png"
    href="./assets/images/favicon.png"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap"
    rel="stylesheet"
    /> 
    <link
    rel="stylesheet" 
    href="/assets/css/overrides.css"
    />
<style>
</style>
    {% seo %}
  </head>
  <body id="" style="background-image:url('/assets/images/bg-06.jpg')" class="bg-fix cover bg-black-30 w-100 h-100 dark-gray">
    {{ content }}
  </body>
</html>
